<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="89">
             <label><![CDATA[Magepow]]></label>
        </tab>
        <section id="magepow_stickycart" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Sticky Cart]]></label>
            <tab>magepow</tab>
            <resource>Magepow_Stickycart::config_stickycart</resource>
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="10" showInWebsite="1" showInStore="1">
                <label><![CDATA[General]]></label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[Enabled]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="height_scroll" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" canRestore="1">
                    <label>Height Scroll</label>
                    <comment><![CDATA[Height from the top of the web page to the appearance 'add to cart bottom' default value 0 will auto]]></comment>
                    <validate>validate-number</validate>
                </field>
                <field id="width_image" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20" canRestore="1">
                    <label>Width Image</label>
                    <comment><![CDATA[Width image product]]></comment>
                    <validate>validate-number</validate>
                </field>
                <field id="height_image" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" canRestore="1">
                    <label>Height Image</label>
                    <comment><![CDATA[Height image product]]></comment>
                    <validate>validate-number</validate>
                </field>                

                <field id="exclude_products" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" canRestore="1">
                    <label>Product Ids</label>
                    <comment><![CDATA[Comma-separated]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
