<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="300">
             <label><![CDATA[Magepow]]></label>
        </tab>
        <section id="stickycart" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Sticky Cart]]></label>
            <tab>magepow</tab>
            <resource>Magepow_Stickycart::config_stickycart</resource>
            <group id="addtocart_bottom" translate="label" type="text" sortOrder="50" showInDefault="10" showInWebsite="1" showInStore="1">
                <label><![CDATA[General Add To Cart Bottom]]></label>
                <field id="active_addtocart_bottom" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Enabled]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="height_scroll" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="70">
                    <label>Height Scroll</label>
                    <comment><![CDATA[Height from the top of the web page to the appearance 'add to cart bottom']]></comment>
                    <validate>validate-number</validate>
                </field>
            </group>

        </section>
    </system>
</config>
